@page
<div class="jumbotron text-center">
    <h1>ASP.NET Core SignalR</h1>
    <p>Contador de Visitas usando ASP.NET Core SignalR</p>
</div>
<div class="container">
    <input type="text" id="text" class="form-control" />
    <button id="send" class="btn btn-success">Send</button>

    <ul id="messages" class="list-group border"></ul>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/contador.js"></script>
